

.button {
  font-family:'Roboto', sans-serif;
  font-weight: bold
  font-size: 16px;
  color: white;
  background-color: #3498db;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #3498db;
}

a:hover {
  background-color: white;
  color: #2566A7;
  transition: color 0.2s ease;
}
